/**
 * Taken from http://www.javascriptkit.com/dhtmltutors/css3clock.shtml
 */




.clock
  
  /* Outer clock face */
  .outer_face
    position relative
    width clockSize
    height clockSize
    border-radius clockSize
    background transparent
    box-shadow inset 0 0 10px #666
    border clockBorderWidth solid #fff

  /* Inner clock face */
  .inner_face
    position relative
    width 88%
    height 88%
    background body-bg-color
    -moz-border-radius 1000px
    -webkit-border-radius 1000px
    border-radius 1000px
    z-index 1000
    left 6% /* center DIV horizontally (100%-88% / 2) */
    top 6% /* center DIV vertically (100%-88% / 2) */
  
    /* clock center dot small */
    &:before 
      content ""
      width clockBorderWidth * 2
      height clockBorderWidth * 2
      border-radius clockBorderWidth * 2
      margin-left clockBorderWidth * -1
      margin-top clockBorderWidth * -1
      background #fff
      position absolute
      top 50%
      left 50%
      box-shadow 0 0 30px #666

    .hand
      position absolute
      width 6px /* default width of hands/ hour hand */
      height 45% /* default height of hands/ hour hand */
      top 5% /* offset hand vertically by 20% so its bottom is at center of clock */
      left 50% /* offset hand horiz by 50% so its left is at center of clock */
      margin-left -3px /* Account for hand width to center hand horizonally */
      background #fff
      transform rotate(0deg)
      transform-origin bottom
      z-index -1
      box-shadow 0 0 10px #666
      


