global-reset()

body
  background-color body-bg-color
  color body-fg-color
  font-family 'Montserrat', sans-serif


h1, h2, h3
  margin 1em 0
  padding 0
h1
  font-size 220%
  font-weight bold
h2
  font-size 140%
  font-weight bold
h3
  font-size 120%
  font-weight bold


