global-reset()

body
  background-color body-bg-color
  color body-fg-color

h1, h2, h3
  margin 1em 0
  padding 0
h1
  font-size 220%
  font-weight bold
h2
  font-size 140%
  font-weight bold
h3
  font-size 120%
  font-weight bold

pre
  border 1px solid rgba(34, 34, 34, 0.2)
  background: rgba(34, 34, 34, 0.03)
  border-radius 4px
  color #444
  padding 5px 8px
  margin 0
  white-space pre
  word-wrap normal
  overflow-x auto
  line-height 24px
  font-size 70%
  font-weight normal

  span
    color #999

a.btn
  simple-button(col2)
