/** https://kuler.adobe.com/Firenze-color-theme-3996461 */
col1 = #b6d15d
col2 = #fa847e
col3 = #ffd495

consoleBgColor = #666
consoleFgColor = #fff
consoleActionFgColor = #999
consoleErrorFgColor = #f66

clockSize = 200px
