@import 'nib'
@import 'prism'
@import 'settings'
@import 'mixins'
@import 'core'
@import 'clock'


frame-width = 30%


.frame, .examples
  pre
    border 1px solid rgba(34, 34, 34, 0.2)
    background: rgba(34, 34, 34, 0.03)
    border-radius 4px
    color #444
    padding 0 5px
    margin 0
    white-space pre
    word-wrap normal
    overflow-x auto
    line-height 2em
    font-size 80%
    font-weight normal


.frame
  display inline-block
  box-sizing border-box
  width frame-width
  height 100%
  min-height 100%
  position fixed
  top 0px
  left 0px
  border-right 1px solid col1
  background url("../img/nice_snow.png");
  font-size 120%
  line-height 1.6em

  & > div 
    padding 1em 2em 2em

  a.btn
    simple-button(col2)

  .intro
    background-color col1
    color #fff
    padding-top 2em

    h1
      text-shadow 2px 2px 2px #666

  a.source
    margin-top 2em
    simple-button(#fff, 'small', #000)
    background url("../img/github.png") 8px 8px no-repeat
    padding-left 36px
    background-size 24px 24px


.examples
  box-sizing border-box
  position relative
  width (100% - frame-width)
  top 0px
  left frame-width
  padding 2em

  & > section
    padding 1.5em 0
    border-top 1px dashed #ccc

    h3
      margin-top 0.5em
      font-weight normal
      font-size 140%
      color #333

      &:before
        content ">"
        position relative
        right 0.5em

    &:first-child
      padding-top 0
      border-top none

  pre
    box-sizing border-box
    font-size 100%
    margin 1em 0

  .output
    display none
    font-family Consolas, Monaco, 'Andale Mono', monospace;
    background: consoleBgColor
    border 1px solid darken(consoleBgColor, 50%)
    border-radius 5px
    color consoleFgColor
    padding 0 1em
    margin-top 0.5em
    max-height 200px
    overflow-y auto

    p
      margin 1em 0
      padding 0

      &.action
        color consoleActionFgColor

      &.error
        color consoleErrorFgColor

  button
    simple-button(col2, 'small')



/** Smaller screens */

@media screen and (max-width: 1024px)
  .frame
    display block
    box-sizing border-box
    width 100%
    position static
    border-right none
    text-align center

    .clock
      display inline-block

    h1
      margin-top 0.5em

    .download
      pre
        display inline-block
    a.source
      margin-top 0


  .examples
    position static
    box-sizing border-box
    width 100%
